body {
  font-family: Arial;
  text-align: center;
  background: #f8f8f8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.logo a {
    color: rgb(2, 2, 2);
    padding: 0px 20px;
    border: 1px solid #000000;
    position: absolute;
    top: 10px;
    left: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
}
ul{
    list-style: none;
    float: right;
    display: flex;
    margin-top: 20px;
}
.ingredient-list-container {
    display: flex;
    justify-content: center; 
}

.ingredient-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 900px; 
}

.ingredient-list li {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    flex: 1 0 20%; 
    box-sizing: border-box;
}

.ingredient-list li:nth-child(5n) {
    border-right: none; 
}

.ingredient-list li:last-child {
    border-bottom: none; 
}

ul li a{
text-decoration: none;
color: #fff;
padding: 10px 20px;
text-transform: uppercase;
border: 1px solid transparent;
margin:10px ;
font-weight: 500;
transition: 0.6s ease;
}
ul li a:hover{
    color: #000;
}
ul li.active a {
    color: #000;
}
.principale{
width: 0 auto;
max-width: 114rem ;
}
.logo span {
    color: rgb(209, 98, 0);
    font-weight: bold;
    font-size: 2rem;
    text-shadow: rgb(0, 0,0.7);
}
html{
    scroll-behavior: smooth;
}
header{
    width: 10%;
    float: left ;
}
section{
    width: 100%;
    height: 100vh;
}

section nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:relative;
    right: 0;
    left: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
}

section nav .logo img{
    width: 100px;
    cursor: pointer;
    margin: 7px 0;
}

section nav ul{
    list-style: none;
}

section nav ul li{
    display: inline-block;
    margin: 0 15px;
}

section nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}

section nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: orange;
    display: block;
    transition: 0.2s linear;
}

section nav ul li a:hover::after{
    width: 100%;
}

section nav ul li a:hover{
    color: orange;
}

section nav .icon i{
    font-size: 18px;
    color: #000;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

section nav .icon i:hover{
    color: orange;
}

section .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 130px;
}

section .main .men_text h1{
    font-size: 60px;
    position: relative;
    top: -90px;
    left: 20px;
}

section .main .men_text h1 span{
    margin-left: 15px;
    color: orange;
    font-family: mv boli;
    line-height: 22px;
    font-size: 70px;
}

section .main .main_image img{
    width: 700px;
    position: relative;
    left: 70px;
}

section p{
    width: 650px;
    text-align: justify;
    position: relative;
    left: 123px;
    bottom: 120px;
    line-height: 22px;
}

section .main_btn{
    background: orange;
    position: relative;
    left: 123px;
    bottom: 30px;
    width: 150px;
    cursor: pointer;
    padding: 12px 25px;
}

section .main_btn a{
    color: #fff;
    margin-right: 5px;
    text-decoration: none;
}

section .main_btn i{
    color: #fff;
    transition: 0.3s;
}

section .main_btn:hover i{
    transform: translateX(7px);
}



/*About*/

.about{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}

.about .about_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .about_main .image img{
    width: 800px;
    position: relative;
    top: 60px;
}

.about .about_main .about_text h1 span{
    color: orange;
    margin-right: 15px;
    font-family: mv boli;
}

.about .about_main .about_text h1{
    font-size: 55px;
    position: relative;
    bottom: 50px;
}

.about .about_main .about_text h3{
    font-size: 30px;
    margin: 0 0 50px 0;
}

.about .about_main .about_text p{
    width: 650px;
    text-align: justify;
    margin-right: 30px;
    line-height: 22px;
}

.about .about_btn{
    background: orange;
    padding: 12px 25px;
    text-decoration: none;
    color: #fff;
    position: relative;
    left: 55%;
    bottom: 30px;
}

.ingredients {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 20px;
}

button {
  padding: 10px 20px;
  background: #e37e01;
  color: white;
  border: none;
  cursor: pointer;
}

.results {
  margin-top: 20px;
}

.footer {
  margin-top: 40px;
  padding: 10px;
  background: #ddd;
}
/*Footer*/

footer{
    width: 100%;
    padding: 30px 0 0 20px;
    background: #eeeeee;
}
.main_image{
    width: 50%;
    background-image: transparent;
    height: auto;
}
footer .footer_main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer .footer_main .footer_tag{
    text-align: center;
}

footer .footer_main .footer_tag h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 30px;
}

footer .footer_main .footer_tag p{
    margin: 10px 0;
}

footer .footer_main .footer_tag i{
    margin: 0 5px;
    cursor: pointer;
}

footer .footer_main .footer_tag i:hover{
    color: orange;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

footer .end span{
    color: orange;
    margin-left: 10px;
}
p{
    color: #000;
    font-family: 'Arial', sans-serif;
    font-size: x-large;
    padding-right: 150px;

}
::-webkit-scrollbar{
    width: 13px;
}

::-webkit-scrollbar-track{
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb{
    background: orange;
    border-radius: 15px;
}
