body {
  font-family: Arial;
  text-align: center;
  background: #f8f8f8;
}

.header {
  background: #e37e01;;
  color: white;
  padding: 20px;
}

.ingredients {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 20px;
}

button {
  padding: 10px 20px;
  background: #e37e01;
  color: white;
  border: none;
  cursor: pointer;
}

.results {
  margin-top: 20px;
}

.footer {
  margin-top: 40px;
  padding: 10px;
  background: #ddd;
}